.searchButton {
    margin-top: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #fff;
    background: #E53e3e;
    transition: all 0.25s ease;
  }

  .cardStack {
    height: 100vh; /* Set a fixed height to enable scrolling */
    overflow: auto; /* Enable scrolling */
    background-color: white;
  }
  
  /* Customize the scrollbar appearance */
  .cardStack::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  .cardStack::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  .cardStack::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar */
  }