.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 55vh;
}

.hero-text {
    width: 40%;
    padding-left: 140px;
}

.hero-image {
  width: 40%;
  padding-right: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 80px;
}

.hero-image img {
    margin-top: 150px;
    width: 90%;
    height: auto;
}

.hero-title {
    font-size: 3.5em;
    margin-top: 80px;
    margin-left: 80px;
}

.hero-subtext {
    margin-top: -10px;
    font-size: 2em;
    margin-left: 80px;
}

.HomeButton {
    margin-top: -30px;
    margin-left: 190px;
    align-self: flex-start; 
}
  .left-half,
  .right-half {
    width: 100%;
  }
  .left-half{
    float: left;
    padding-left: 80px;
  }

  .right-half {
    float: right;
    padding-right: 80px;
  }
  
  .left-half h2,
  .right-half h2 {
    margin-top: 20px;
    text-align: left;
    padding-left: 111px;
  }

  .light-red-text,
  .light-red-text2{
    color: #E53e3e;
    font-size: 30px;
  }
  
  p {
    margin-top: 5px;
    font-size: 20px;
  }
  
  .steps,
  .profile {
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    padding: 0 20px;
  }
  
  ol {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-left: 50px; */
  }
  
  li {
    margin-bottom: 8px;
    padding-left: 50px;
    list-style-position: inside;
  }

  .left-image img {
    width: 750px; 
    height: 500px; 
    margin-top: 20px;
    margin-left: 100px;
}

.right-image img {
    width: 750px; 
    height: 500px; 
    margin-top: 20px;
    margin-left: 100px;
}

  