.container {
    background-color: black;
}

.bannerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .image {
    width: 100%;
    height: auto;
  }

  #ButtonToCreate {
    position: 'absolute';
    top: '1000 px';
    left: '610 px';
    transform: translate(-50%, 50%);
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #E53e3e;
    transition: all 0.25s ease;
    font-size: 16px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
