.header__wrapper {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
  
  
  .menuItems a {
    background-color: black;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0 20px;
  }
  
  .menuItems a:hover,
  .menuItems a.active {
    color: #BA0F30;
  }

.menuItems{
  display: flex;
  justify-content: space-between;
  padding: 16px;
  flex: auto;
}

nav {
  display: flex;
  flex: auto;
}