.container {
    padding: 120px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .flex-container {
    margin-top: 200px;
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 3px solid #ccc;
    border-radius: 10px;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  td strong {
    font-weight: bold;
  }
  
  .profile-table,
  .ride-history-table {
    margin-bottom: 20px;
  }
  
  .ride-history-table {
    margin-top: 20px; /* Add spacing between tables */
  }
  
  button {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #E53e3e;
    transition: all 0.25s ease;
    font-size: 16px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:focus {
    outline: none;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }


